.searchpage {
    background: #fff;
}
.searchp_container {
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 100%;
    height: 250px;
    margin: 0 auto;
    margin-top: 150px;
}
.searchp_footer {
    margin-top: 100px;
}
.search {
    background: #fff;
}

.search_container {
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    margin-top: 600px;
}

.search_footer {
    margin-top: 75px;
}